/* dark-mode.css */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Add styles for specific elements or components */
body.dark-mode .header {
	background-color: #1e1e1e;
}

body.dark-mode .menuBox {
	background-color: #2a2a2a;
}

body.dark-mode .menuChooseBox {
	color: #ffffff;
}

body.dark-mode .button {
	background-color: #3a3a3a;
	color: #ffffff;
	border: 1px solid #444444;
}
  