.messageInputBox {
    margin: 0 15px;
    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: -68px;
    width: calc(100% - 2 * 15px);
    z-index: 3;
}
.leftBox {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Center icons vertically */
    padding: 10px;
    flex: 1;
}
.leftBox > :nth-child(2) {
    flex: 1;
}
.messageInputBox > * {
    margin-right: 8px; /* Add space between icons */
}
.rightBox {
    background-color: white;
    border-radius: 50%;
    align-items: center;

    width: fit-content;
    height: fit-content;
    margin: auto 0;
}
