.messageInputBox {
    margin: 0 15px;
    display: flex;
    flex-direction: row;

    position: absolute;
    width: calc(100% - 2 * 15px);
    z-index: 3;
}

.leftBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 10px;
    padding: 10px;
    background-color: var(--bg-color-text-default);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
.inputBox {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.replyBox {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.inputBox > :nth-child(2) {
    flex: 1;
}
.replyBox > :nth-child(2) {
    flex: 1;
    align-items: center;
    text-align: center;
}

.messageInputBox > * {
    margin-right: 8px; /* Add space between icons */
}
.rightBox {
    background-color: var(--bg-color-text-default);
    border-radius: 50%;
    align-items: center;

    width: fit-content;
    height: fit-content;
    margin: auto 0;
}
.emojiPickerContainer {
    position: absolute;
    bottom: 60px;
    left: 10px;
    z-index: 1000;
  }
  .customInput {
    border: none;
    outline: none;
    width: 100%;
    min-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--color-text-default);
    padding: 8px;
    white-space: pre-wrap;
    word-break: break-word;
    -webkit-text-fill-color: var(--color-text-default);
  }


/* messageInput.module.css */
.emojiInput {
    border: none;
    outline: none;
    width: 100%;
    min-height: 24px;
    padding: 8px;
    color: var(--color-text-default);
    white-space: pre-wrap;
    word-break: break-word;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
  
  .twemoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
  }